.header {
  align-items: center;
  background: #ffffffaa;
  backdrop-filter: blur(4px);
  border-bottom: 1px solid #ccc;
  display: flex;
  height: 49px;
  position: sticky;
  top: 0;
  width: 100%;
}

.title {
  font-size: 1.3rem;
  font-weight: 800;
  padding-left: 10px;
}

.section {
  /* padding-top: 49px; */
}

.footer {
  background: #ffffff;
  border-top: 1px solid #aaa;
  bottom: 0;
  height: 49px;
  position: sticky;
  width: 100%;
}
